.AboutMe {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
}

.AboutMe__picture {
  margin: 16px 0px;
  border: 5px solid var(--theme-primary);
}

@media (min-width: 960px) {
  .AboutMe {
    flex-direction: row;
    align-items: flex-start;
  }

  .AboutMe__picture {
    height: 300px;
    width: 300px;
    margin: 0px 0px 0px 50px;
  }
}
