.AboutMe {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
}

.AboutMe__picture {
  box-shadow: 0px 4px 12px 0px rgb(59 59 59 / 24%);
  width: 300px;
  max-width: 100%;
  margin: 0px 0px 40px 0px;
}

.AboutMe__blurb {
  margin-bottom: 24px;
}

@media (min-width: 960px) {
  .AboutMe {
    flex-direction: row;
    align-items: flex-start;
  }

  .AboutMe__picture {
    width: 300px;
    max-width: unset;
    margin: 16px 0px 16px 50px;
  }
}
