.AppBar {
  position: sticky;
  top: -1px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* border-radius: 6px 6px 0px 0px; */
  background-color: var(--theme-primary);
}

.AppBar--drop-shadow {
  box-shadow: 0px 4px 12px 0px rgb(59 59 59 / 24%);
}
