.Banner {
  /* font-family: "Open Sans"; */
  /* font-family: "Source Code Pro", sans-serif; */
  /* font-family: "Alex Brush"; */
  /* font-family: Caveat; */
  /* font-family: "Press Start 2p"; */
  font-family: "Permanent Marker";
  /* font-family: "Rock Salt"; */
  /* font-family: "Kaushan Script"; */
  font-weight: 400;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 62px;
  margin-bottom: -13px;
  /* margin-bottom: 0px; */
  /* font-size: 40px; */
  z-index: 2;
  color: white;
}
