.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  cursor: pointer;
  height: 50px;
  color: white;
  background-color: var(--theme-primary);
  text-decoration: none;
}

.Button--hover:hover {
  background-color: var(--theme-secondary);
}

.Button--full-width {
  width: 100%;
}
