.PageContent {
  box-sizing: border-box;
  width: 1200px;
  max-width: 100%;
  padding: 0px 16px 80px 16px;
  background-color: white;
  border-left: 4px solid var(--theme-secondary);
  border-right: 4px solid var(--theme-secondary);
  border-bottom: 4px solid var(--theme-secondary);
}

.PageContent--drop-shadow {
  box-shadow: 0px 4px 12px 0px rgb(59 59 59 / 24%);
}

@media (min-width: 960px) {
  padding: 0px 58px 80px 58px;
}
