.Page {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  max-width: 100%;
  border-radius: 10px;
  margin: 19px 0px 0px 0px;
}

.Page--full-width {
  width: 100%;
}

.Page--drop-shadow {
  box-shadow: 0px 4px 12px 0px rgb(59 59 59 / 24%);
}

@media (min-width: 960px) {
  .Page--margin-top-bottom {
    margin: 30px 0px;
  }
}
