.PictureBlurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0px;
}

.PictureBlurb__picture {
  border: 1px solid lightgrey;
  /* box-shadow: 0px 4px 12px 0px rgb(59 59 59 / 24%); */
}

.PictureBlurb__blurb {
  margin: 20px 0px 28px 0px;
}

.PictureBlurb__blurb h2 {
  text-align: center;
}

@media (min-width: 960px) {
  .PictureBlurb {
    flex-direction: row;
    align-items: flex-start;
  }

  .PictureBlurb__picture {
    margin: 0px 48px 0px 0px;
  }

  .PictureBlurb__blurb {
    margin-top: 16px;
  }

  .PictureBlurb__blurb h2 {
    text-align: left;
  }
}
