.Project__card {
  display: flex;
  flex-direction: column;
}

.Project__picture {
  border-bottom: 1px solid lightgrey;
}

.Project__filler {
  flex: 1;
}

.Projects__blurb {
  margin-bottom: 8px;
}

.Project__button-container {
  display: flex;
  width: 100%;
}

.Project__button-container a {
  flex: 1;
}

.Projects__button {
  flex: 1;
  border-radius: 0px 0px 0px 0px;
}

.Projects__button--left {
  border-right: 2px solid white;
}
