@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

body {
  --theme-primary: #3681d5;
  --theme-secondary: rgba(113, 163, 221, 1);
  --theme-tertiary: rgb(236 244 252);
  --theme-text-primary: #525666;
  --theme-text-on-primary: #ffffff;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
  font-family: "Segoe UI", sans-serif;
  color: var(--theme-text-primary);
}

div {
  font-weight: 500;
}

p,
li {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 16px;
  line-height: 24px;
}

ul {
  padding-left: 24px;
}

a {
  text-decoration: none;
}
